@media(max-width: 900px) {
    /*#chart_wrap3, #chart_wrap4 {
        width: 100%;
        height: 10%;
        overflow: hidden;
    }*/

    /*#GraficoDeMeses, #GraficoDeDias {
        width: 100%;
        height: 10%;
    }*/

    .desktop {
        display: none;
    }

    .mobile {
        display: block; /* ou inline, inline-block */
    }
}


#topo, #FimDaPagina{
    max-width: 1000px;
    max-height: 300px;
    margin-top: 1%;
}

#topoTitulo {
    max-width: 1000px;
    width: 100%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 1rem;
}


#MinhaCaixa {
    max-width: 1000px;
    width: 100%;
    margin-left: 10%;
    margin-right: 5%;
}
body {
    background-color: hsla(345, 10%, 90%, 0.1) !important;
    max-width: 1000px;
    max-height: 720px;
}