
<div class="row" id="FimDaPagina">
    <div class="col-md-12" >
        <footer class="blockquote-footer">
            <blockquote class="blockquote text-justify">
                Os dados utilizados nessa <strong>análise</strong> são mantidos e operados, pelo <mark>Centro de Ciência e Engenharia da Universidade Johns Hopkins (JHU CSSE)</mark>. Além disso, com o apoio da <u>ESRI Living Atlas Team</u> e do <u>Laboratório de Física Aplicada da <a data-toggle="tooltip" data-placement="top" title="Clique aqui para conhecer o estudo" target="_blank" rel="noreferrer" href="https://systems.jhu.edu/research/public-health/ncov/">Johns Hopkins University</a> (JHU APL)</u>.
            </blockquote>
            <p class="text-center"><strong>Copyright © @DateTime.Now.Year - <a data-toggle="tooltip" data-placement="top" title="Clique aqui para conhecer o projeto" href="@Url.Action("Index","Home")">Remédios Demais Podcast</a>.</strong> All rights reserved.</p>
        </footer>
    </div>
</div>