
@{
    ViewBag.Title = "Contato";
}

<link href="~/Content/contact.css" rel="stylesheet" />
<link href="~/Content/contact_responsive.css" rel="stylesheet" />

<div class="super_container">
    <div class="home">
        <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="/Imagens/contact.jpg" data-speed="0.8"></div>
        <div class="home_container d-flex flex-column align-items-center justify-content-center">
            <div class="home_content">
                <div class="home_title"><h1>Contato</h1></div>
            </div>
        </div>
    </div>

    <!-- Contact -->
    <div class="contact">
        <div class="container">
            <div class="row">
                <div class="col">

                    <!-- Intro -->
                    <div class="intro">
                        <div class="section_title text-center">
                            <h1>
                                Entrar em contato
                            </h1>
                        </div>
                        <div class="intro_text text-center">
                            <p>
                                Tem alguma pergunta para fazer? Alguma sugestão? o Remédios demais tem um e-mail ou o direct de qualquer uma das nossas redes sociais para isso.
                                Fique a vontade a entrar em contato conosco.
                            </p>
                        </div>
                        <div class="button_fill intro_button text-center ml-auto mr-auto"><a target="_blank" href="mailto:remediosdemaispodcast@gmail.com">E-mail</a></div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <!-- Newsletter -->

    <div class="newsletter">
        <div class="parallax_background parallax-window background_image" data-parallax="scroll" style="background-image:url(/imagens/newsletter.jpg)" data-speed="0.8"></div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title light text-center"><h1>Inscreva-se na Newsletter</h1></div>
                    <div class="newsletter_text text-center">
                        <p>
                            Mantenha-se atualizado com as informações mais recentes sobre nossos podcasts, convidados, convidados especiais e brindes.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row newsletter_row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="newsletter_form_container">

                        <button class="button_fill intro_button text-center ml-auto mr-auto">
                            <a target="_blank" href="https://www.instagram.com/rdpodcasting/">
                                Inscreva-se!
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>