
<div class="super_container">
    <!-- Home -->
    <div class="home">
        <div class="parallax_background parallax-window background_image" data-parallax="scroll" style="background-image:url(/imagens/about.jpg)" data-speed="0.8"></div>
        <div class="home_container d-flex flex-column align-items-center justify-content-center">
            <div class="home_content">
                <div class="home_title"><h1>Episódios</h1></div>
            </div>
        </div>
    </div>

    <!-- Episodes -->

    <div class="episodes">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="season_links">
                        <ul class="d-flex flex-row align-items-start justify-content-center flex-wrap">
                            <li class="item_filter_btn" data-filter="*">Primeira Temporada</li>
                            @*<li class="item_filter_btn" data-filter=".s1">Season 1</li>
                            <li class="item_filter_btn" data-filter=".s2">Season 2</li>
                            <li class="item_filter_btn" data-filter=".s3">Season 3</li>*@
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row episodes_row">

                <!-- Sidebar -->
                <div class="col-lg-3">
                    <div class="sidebar">

                        <!-- Search -->
                        @*<div class="sidebar_search">
                            <div class="sidebar_title">Search</div>
                            <form action="#" class="search_form" id="search_form">
                                <input type="text" class="search_input" placeholder="Search here" required="required">
                                <button class="search_button"><img src="~/Imagens/search.png" alt=""></button>
                            </form>
                        </div>*@

                        <!-- Categories -->
                        <div class="sidebar_list">
                            <div class="sidebar_title">Categorias</div>
                            <ul>
                                <li><a href="#">ansiedade</a></li>
                                <li><a href="#">TOC</a></li>
                                <li><a href="#">insônia</a></li>
                                <li><a href="#">autismo</a></li>
                                <li><a href="#">psicanalise</a></li>
                                <li><a href="#">depressão</a></li>
                                <li><a href="#">transtorno bipolar</a></li>
                                <li><a href="#">Recaídas</a></li>
                                <li><a href="#">Tiques Nervosos</a></li>
                                <li><a href="#">Pensamentos Suicidas</a></li>
                                <li><a href="#">Síndrome do Pânico</a></li>
                            </ul>
                        </div>

                        <!-- Tags -->
                        <div class="sidebar_tags">
                            <div class="sidebar_title">Tags</div>
                            <div class="tags">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                   <li><a href="#">ansiedade</a></li>
                                <li><a href="#">TOC</a></li>
                                <li><a href="#">insônia</a></li>
                                <li><a href="#">autismo</a></li>
                                <li><a href="#">psicanalise</a></li>
                                <li><a href="#">depressão</a></li>
                                <li><a href="#">transtorno bipolar</a></li>
                                <li><a href="#">Recaídas</a></li>
                                <li><a href="#">Tiques Nervosos</a></li>
                                <li><a href="#">Pensamentos Suicidas</a></li>
                                <li><a href="#">Síndrome do Pânico</a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- Archive -->
                        <div class="sidebar_archive">
                            <div class="sidebar_title">Plataformas de Streaming</div>
                            <div class="dropdown">
                                <ul>
                                    <li class="dropdown_selected d-flex flex-row align-items-center justify-content-start">
                                        <span>Soundcloud</span><i class="fa fa-chevron-down ml-auto" aria-hidden="true"></i>
                                        <ul>
                                            <li><a href="https://open.spotify.com/show/2NLYU6UG5Er9dNp40c8JiJ" target="_blank">Spotify</a></li>
                                            <li><a href="https://www.deezer.com/br/show/605282" target="_blank">Deezer</a></li>
                                            <li><a href="https://www.megafono.host/podcast/remedios-demais" target="_blank">MegaFono</a></li>
                                            <li><a href="https://podcasts.apple.com/br/podcast/rem%C3%A9dios-demais-podcast/id1483233787" target="_blank">Apple Podcasts</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Episodes -->
                <div class="col-lg-9 episodes_col">
                    <div class="episodes_container">

                        <!-- Episode -->
                        <div class="episode d-flex flex-row align-items-start justify-content-start s1">
                            <div>
                                <div class="episode_image">
                                    <img src="~/Imagens/banner01.png" alt="">
                                    <div class="tags">
                                        <ul class="d-flex flex-row align-items-start justify-content-start">
                                            <li><a href="#">music</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="episode_content">
                                <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/715393843&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>


                            </div>
                            </div>
                        </div>

                      

                    </div>
                </div>
            </div>
            <div class="row page_nav_row">
                <div class="col">
                    <div class="page_nav d-flex flex-row align-items-center justify-content-center">
                        <ul class="d-flex flex-row">
                            <li class="active"><a href="#">1</a></li>
                      
                            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


