@{
    ViewBag.Title = "Home";
}

<link href="~/Content/main_styles.css" rel="stylesheet" />
<link href="~/Content/responsive.css" rel="stylesheet" />

<script src="~/Scripts/lazysizes.min.js" async></script>
<!-- Images End -->
<!-- Home -->
<div class="home">
    <div class="background_image" style="background-image:url(/Imagens/index.jpg)"></div>
    <div class="home_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content">
                        <div class="tags">
                            <a href="~/Views/Home/Index.cshtml">~/Views/Home/Index.cshtml</a>
                        </div>
                        <div class="home_title"><h1></h1></div>

                        <div class="track_info">
                            <ul class="d-flex flex-row align-items-start justify-content-start">

                                <li>01:58:27</li>

                            </ul>
                        </div>
                        <div class="track track_home">
                            <iframe src="https://anchor.fm/remedios-demais-podcast/embed" height="100%" width="100%" frameborder="0" scrolling="no"></iframe>
                        </div>
                        <div class="button_border home_button trans_200"><a href="@Url.Action("Sobre","Home")">Mais informações</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Shows -->
<div class="shows">
    <div class="container">
        <div class="row shows_row">

            <!-- Show -->
            <div class="col-lg-4">
                <div class="show">
                    <div class="show_image">
                        <a target="_blank" href="https://linkme.bio/thiago_roock">
                            <img class="lazyload" data-src="Imagens/thiago.jpg" alt="https://unsplash.com/icons8">
                        </a>
                        <div class="show_tags">
                            <div class="tags">
                                <ul class="d-flex flex-row align-items-start justify-content-start">
                                    <li><a href="#">Host</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="show_play_icon"><img class="lazyload" data-src="Imagens/play.svg" alt="https://www.flaticon.com/authors/cole-bemis"></div>
                    </div>
                    <div class="show_content">
                        <div class="show_date"><a href="#">Thiago D.</a></div>
                        <div class="show_title"><a href="#">Escritor, programador, fundador do Remédios Demais Podcasting e do blog De Saco Cheio e Mau Humor, e mais um monte de coisas que disseram que eu não podia ser.</a></div>

                    </div>
                </div>
            </div>

            <!-- Show -->
            <div class="col-lg-4">
                <div class="show">
                    <div class="show_image">
                        <a target="_blank" href="https://www.instagram.com/rdpodcasting/">
                            <img class="lazyload" data-src="Imagens/mesadegravações.jpg" alt="https://unsplash.com/pawel_czerwinski">
                        </a>
                        <div class="show_tags">
                            <div class="tags">
                                <ul class="d-flex flex-row align-items-start justify-content-start">
                                    <li><a href="#">Convidados</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="show_play_icon"><img class="lazyload" data-src="Imagens/play.svg" alt="https://www.flaticon.com/authors/cole-bemis"></div>
                    </div>
                    <div class="show_content">
                        <div class="show_date"><a href="#">Fundado em 11 de Outubro, 2019</a></div>
                        <div class="show_title"><a href="#">O RD é um projeto sem fins lucrativos, que visa ajudar e disseminar informações sobre saúde mental.</a></div>

                    </div>
                </div>
            </div>

            <!-- Show -->
            <div class="col-lg-4">
                <div class="show">
                    <div class="show_image">
                        <a target="_blank" href="https://www.instagram.com/lanersn/">
                            <img class="lazyload" data-src="Imagens/laner.jpg" alt="https://unsplash.com/trevcole">
                        </a>
                        <div class="show_tags">
                            <div class="tags">
                                <ul class="d-flex flex-row align-items-start justify-content-start">
                                    <li><a href="#">Host</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="show_play_icon"><img class="lazyload" data-src="Imagens/play.svg" alt="https://www.flaticon.com/authors/cole-bemis"></div>
                    </div>
                    <div class="show_content">
                        <div class="show_date"><a href="#">Laner Siqueira</a></div>
                        <div class="show_title"><a href="#">Jornalista, vegano pelos animais: viva e deixe viver! Rock n' RoLL </a></div>

                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col text-center">
                <div class="button_fill shows_button"><a href="@Url.Action("Episodios","Home")">Todos epísodios</a></div>
            </div>
        </div>
    </div>
</div>

<!-- Bi Weekly -->

<div class="weekly">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="/Imagens/pexels-photo-373914.jpeg" data-speed="0.8"></div>
    <div class="container">
        <div class="row row-eq-height">

            <!-- Weekly Content -->
            <div class="col-lg-6">
                <div class="weekly_content d-flex flex-column align-items-start justify-content-lg-center justify-content-start">
                    <div>
                        <div class="weekly_title"><h1>Episódios quinzenais</h1></div>
                        <div class="weekly_text">
                            <p>Um podcast ímpar para receber amigos, pessoas legais e você. Decidimos tudo de última hora, quase sempre.</p>
                        </div>
                        <div class="shops d-flex flex-row align-items-start justify-content-start flex-wrap">
                            <div class="button_border"><a href="https://podcasts.apple.com/br/podcast/rem%C3%A9dios-demais-podcast/id1483233787" target="_blank">Itunes</a></div>
                            <div class="button_border"><a href="https://open.spotify.com/show/2NLYU6UG5Er9dNp40c8JiJ" target="_blank">Spotify</a></div>
                            <div class="button_border"><a href="https://anchor.fm/remedios-demais-podcast" target="_blank">Anchor.fm</a></div>
                            <div class="button_border"><a href="https://www.deezer.com/br/show/605282" target="_blank">Deezer</a></div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Weekly Image -->
            <div class="col-lg-6">
                <div class="weekly_image">
                    <a href="@Url.Action("Sobre","Home")" class="d-flex flex-row">
                        <img class="lazyload" data-src="Imagens/banner04.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Shows 2 -->

<div class="shows_2">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="shows_2_title">Categorias</div>
            </div>
        </div>
        <div class="row shows_2_row">

            <!-- Show -->
            <div class="col-xl-3 col-md-6">
                <div class="show">
                    <div class="show_image">
                        <a target="_blank" href="https://soundcloud.com/desacocheioemauhumor/dedo-no-gatilho-capitulo-01-como-deveria-ser">
                            <img class="lazyload" data-src="Imagens/pexels-photo-1626481.jpeg" alt="https://unsplash.com/h4rd3n">
                            <div class="show_play_icon"><img class="lazyload" data-src="Imagens/play.svg" alt="https://www.flaticon.com/authors/cole-bemis"></div>
                            <div class="show_title_2">Audio Drama</div>
                        </a>
                        <div class="show_tags">
                            <div class="tags">
                                <ul class="d-flex flex-row align-items-start justify-content-start">
                                    <li><a href="#">audiodrama</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Show -->
            <div class="col-xl-3 col-md-6">
                <div class="show">
                    <div class="show_image">
                        <a target="_blank" href="https://open.spotify.com/show/2NLYU6UG5Er9dNp40c8JiJ">
                            <img class="lazyload" data-src="Imagens/art-casual-close-up-3078404.jpg" alt="https://unsplash.com/gohobo">
                            <div class="show_play_icon"><img class="lazyload" data-src="Imagens/play.svg" alt="https://www.flaticon.com/authors/cole-bemis"></div>
                            <div class="show_title_2">Saúde mental</div>
                        </a>
                        <div class="show_tags">
                            <div class="tags">
                                <ul class="d-flex flex-row align-items-start justify-content-start">
                                    <li><a href="#">saúdemental</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Show -->
            <div class="col-xl-3 col-md-6">
                <div class="show">
                    <div class="show_image">
                        <a target="_blank" href="https://desacocheioemauhumor.blog/">
                            <img class="lazyload" data-src="Imagens/pexels-photo-261577.jpeg" alt="https://unsplash.com/zacharykeimig">
                            <div class="show_play_icon"><img class="lazyload" data-src="Imagens/play.svg" alt="https://www.flaticon.com/authors/cole-bemis"></div>
                            <div class="show_title_2">Blog</div>
                        </a>
                        <div class="show_tags">
                            <div class="tags">
                                <ul class="d-flex flex-row align-items-start justify-content-start">
                                    <li><a href="#">textos</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Show -->
            <div class="col-xl-3 col-md-6">
                <div class="show">
                    <div class="show_image">
                        <a target="_blank" href="https://soundcloud.com/desacocheioemauhumor">
                            <img class="lazyload" data-src="Imagens/pexels-photo-248044.jpeg" alt="https://unsplash.com/bkview">
                            <div class="show_play_icon"><img class="lazyload" data-src="Imagens/play.svg" alt="https://www.flaticon.com/authors/cole-bemis"></div>
                            <div class="show_title_2">Habilidade intrapessoal</div>
                        </a>
                        <div class="show_tags">
                            <div class="tags">
                                <ul class="d-flex flex-row align-items-start justify-content-start">
                                    <li><a href="#">intrapessoal</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col text-center">
                <div class="button_fill shows_2_button"><a href="@Url.Action("Episodios","Home")">Todos episódios</a></div>
            </div>
        </div>
    </div>
</div>