@{
    ViewBag.Title = "Sobre";
}
<link href="~/Content/about.css" rel="stylesheet" />
<link href="~/Content/about_responsive.css" rel="stylesheet" />

<div class="super_container">
    <div class="home">
        <div class="parallax_background parallax-window background_image" data-parallax="scroll" style="background-image:url(/imagens/about.jpg)" data-speed="0.8"></div>
        <div class="home_container d-flex flex-column align-items-center justify-content-center">
            <div class="home_content">
                <div class="home_title"><h1>Sobre</h1></div>
            </div>
        </div>
    </div>

    <div class="intro">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="intro_content text-center">
                        <div class="section_title text-center"><h1>O <span>Remédios Demais Podcast</span></h1></div>
                        <div class="intro_text text-center">
                            <p>Um podcast ímpar para receber amigos, pessoas legais e você. Decidimos tudo de última hora, quase sempre 🤪</p>
                            </br></br><h2>Causas</h2>
                            <p>
                                Depressão, pensamento linear
                                e não critico sobre o mundo e
                                as pessoas, falta de empatia e
                                ignorância intelectual.
                            </p>
                            </br></br><h3>Efeitos</h3>
                            <p>
                                Pessoas intolerantes,
                                insensíveis e com ego inflado.
                                Uma sociedade que descarta
                                pessoas como se fossem lixo.
                            </p>
                            </br></br><h4>Solução</h4>
                            <p>
                                Melhorar nossa percepção de mundo, ajudar a
                                pensar criticamente e aumentar o repertório para
                                todos se tornarem pessoas melhores.
                            </p>
                        </div>
                        <div class="button_fill intro_button"><a target="_blank" href="https://drive.google.com/file/d/1fkoP__A6hsaotklbjK43QLanW2qdD8Xd/view?usp=sharing">Mapa Mental</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="intro_content text-center">
                <div class="newsletter">
                    <div class="parallax_background parallax-window background_image" data-parallax="scroll" style="background-image:url(/imagens/newsletter.jpg)" data-speed="0.8"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="section_title light text-center"><h1>Inscreva-se na Newsletter</h1></div>
                                <div class="newsletter_text text-center">
                                    <p>
                                        Mantenha-se atualizado com as informações mais recentes sobre nossos podcasts, convidados, convidados especiais e brindes.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row newsletter_row">
                            <div class="col-lg-10 offset-lg-1">
                                <div class="newsletter_form_container">
                                    <div class="button_fill intro_button"><a target="_blank" href="https://www.instagram.com/rdpodcasting/">Inscreva-se!</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

